<!DOCTYPE html>
{% extends "header.html"%}
{% block body_block %}

<div class="orange lighten-3 z-depth-2">
        <div>
        <h4 class="align-center" id="about"><span>&#43;</span>
          ALL MEDICINE ENQUIRY<span>&#43;</span>
        </h4>
        <br>
        <p class="description">
        Welcome to All Medicine Enquiry, with the help of this website, I want to create a link between the readers and me where you can ask any question related to health to me and I'll try to help as much as possible. Support me like you have always did. You can find all types of medicinal reviews here. Using this website, you can contact me and ask any type of question related to medicine, I'll try to reply within 24hrs and will try the best to help you. </p>
      <p class="description">Whatsapp me on +91-8789416368 and share your problem, feel free to ask, your query will be confidential. </p>
      </div>
      </div>

{% endblock %}