<!DOCTYPE html>
{% extends "header.html"%}
{% block body_block %}
<div class="orange lighten-3 z-depth-2">
        <h4 class="align-center" id="about">
          MY VIDEOS
        </h4>
        <br>
        <p class="description">
      Check out my videos here, and do visit my youtube channel for latest updates.</p>
      <p class="description">Whatsapp me on +91-8789416368 and share your problem, feel free to ask any questions, your query will be confidential. </p>
      </div>
      <br>
      <br>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vHAX1_PkSiE"></iframe>
                    </div>
                  <div class="caption">
                    <p>
ऊँटनी के दुध को सफेद सोना क्यों कहा जाता है। जानिए क्यो है इतना खास/ all medicine enquiry


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Kg0ApzHoX1A"></iframe>
                  </div>
                  <div class="caption">
                    <p>
दिमाग तेज करने और भूलने की बीमारी से छुटकारा पाने का रामबाण घरेलू उपाय | | How To Boost Memory Power


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2dcwmwIykJQ"></iframe>
                  </div>
                  <div class="caption">
                    <p>
चाहे जितना भी बड़ा हो । तिल या मस्सा ।सिर्फ ये एक चीज जड़ से खत्म कर देंगी


</p>
                  </div>
               </div>
            </div>
    
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/znqW9Oja2FM"></iframe>
                    </div>
                  <div class="caption">
                    <p>
कीवी फल के फायदे एवं खाने का तरीका |Benefit |of Kiwi and How to Peel Off and Eat/kiwi Khane ka Fayde


 </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/styJIASJwRE"></iframe>
                    </div>
                  <div class="caption">
                    <p>
प्रातःकाल उठकर नहाने से पहले/ //करें _ ये काम होंगे जबरदस्त फायदे !!by all medicine enquiry

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pZGHFJvNaQQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>
जाने ___ सिने में दर्द के कारण, लक्षण ओर उपाय by all medicine enquiry


</p>
                  </div>
               </div>
            </div>
       
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sgg_97Xw7E8"></iframe>
                    </div>
                  <div class="caption">
                    <p>
दुध में तुलसी डालकर पीने के 5 फायदें ।जो आप नहीं जानते



                    </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jDus7FvblPg"></iframe>
                  </div>
                  <div class="caption">
                    <p>
लिवर को खराब करती है ये पांच चीजें जरूर जानिए वरना पछताएगें


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/audPe-nH3Yg"></iframe>
                  </div>
                  <div class="caption">
                    <p>

नीम जुस के 10 अचूक फायदे


</p>
                  </div>
               </div>
            </div>
    
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IB-LNGiNb0g"></iframe>
                    </div>
                  <div class="caption">
                    <p>
5। ऐसी चीजें जिसे जानकर चौंक जाएंगे आप

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ow02Ai-mfns"></iframe>
                    </div>
                  <div class="caption">
                    <p>
सर्दियों के कारण फटे हुए होंठो से सिर्फ 1 दिन में छुटकारा पाएं

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_ewcS51Tci0"></iframe>
                    </div>
                  <div class="caption">
                    <p>
काले अंगूर के ये फायदे पता होते तो हम हरे अंगूर नहीं खाते

</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/U_Soy61sGYY"></iframe>
                    </div>
                  <div class="caption">
                    <p>
हंसने के पांच फायदे जानकर चौंक जाएंगे आप

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zG-5BBE6Zjs"></iframe>
                  </div>
                  <div class="caption">
                    <p>
माइग्रेन होने पर क्या करें क्या न करें(full treatment,)


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PpSLVveGgS4"></iframe>
                  </div>
                  <div class="caption">
                    <p>
घंटों में पाएं आप अपने रुखे ओर बेजान बालों से छुटकारा

</p>
                  </div>
               </div>
            </div>
     
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lGCJwmTZvtc"></iframe>
                    </div>
                  <div class="caption">
                    <p>
सरसों के तेल के फायदे और नुकसान



</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2B1l3IBMwgA"></iframe>
                    </div>
                  <div class="caption">
                    <p>HOW TO MAKE PEDIASURE/HOW TO MAKE PEDIASURE MILK




</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ILMVfUGu2Uw"></iframe>
                    </div>
                  <div class="caption">
                    <p>
कहीं आप भी तो नहीं परेशान हैं अपने दिमाग के कारण से अगर हां तो इस विडियो को देखिए



</p>
                  </div>
               </div>
            </div>
     
<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="{% url 'information:page1'%}">1</a>
  <a href="{% url 'information:page2'%}">2</a>
  <a href="{% url 'information:page3'%}">3</a>
  <a href="{% url 'information:page4'%}">4</a>
  <a href="{% url 'information:page5'%}">5</a>
  <a href="{% url 'information:page6'%}">6</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}