<!DOCTYPE html>
{% extends "header.html"%}
{% block body_block %}
<div class="orange lighten-3 z-depth-2">
        <h4 class="align-center" id="about">
          MY VIDEOS
        </h4>
        <br>
        <p class="description">
      Check out my videos here, and do visit my youtube channel for latest updates.</p>
      <p class="description">Whatsapp me on +91-8789416368 and share your problem, feel free to ask any questions, your query will be confidential. </p>
      </div>
      <br>
      <br>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HT1IWzxvF6s"></iframe>
                    </div>
                  <div class="caption">
                    <p>Happy New Year Whatsapp status 2020 / Happy New year 2020 |Happy New year Whatsapp Status Video 2020</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hmyx-q39GDo"></iframe>
                  </div>
                  <div class="caption">
                    <p>New Year Status / / Happy New Year Status 2020 / / New Year Special Status / / ALL MEDICINE ENQUIRY</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/98CGZXTTkLE"></iframe>
                  </div>
                  <div class="caption">
                    <p>Limcee Tablet | चेहरे और त्वचा के निखार लाना है तो देख लो | Review in hindi</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/si_hc6sOcgY"></iframe>
                    </div>
                  <div class="caption">
                    <p>COMEDY VIDEO // देखिए कैसे बड़े लोगो के बेटे अपने बाप के पैसों को उड़ाते है // best comedy video 2020 </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgdpeVyvi0o"></iframe>
                    </div>
                  <div class="caption">
                    <p>SAK Kit Tablet ( 90 दिन के Pregnancy को गिराने का सबसे अच्छा और सुरक्षित दवा ) Review in Hindi</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fUfPztikaEY"></iframe>
                    </div>
                  <div class="caption">
                    <p>Himcolin Gel Review in Hindi / How to use Himcolin Gel // By,All Medicine Enquiry</p>
                  </div>
               </div>
            </div>
  
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AQYCBkXevrQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>
                    BETNOVATE - C-VS BETNOVATE - N skin cream review | | Skin cream for smooth & fair /by all medicine
                    </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jPy1Veh7Km0"></iframe>
                  </div>
                  <div class="caption">
                    <p>Himalaya tentex royal : benefits and side effects / detailed review in hindi
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RYezYHhkTsk"></iframe>
                  </div>
                  <div class="caption">
                    <p>PERMOM LOTION 5%//PERMETHRIN Lotion full review in hindi ,दाद खाज खुजली से छुटकारा सिर्फ 3 दिन में
</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kQhA-9x5bxQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>BETNOVATE -N Skin cream hindi Review/ betnovate - n skin cream के फायदे और नुकसान /By all medicine</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ChboZ7JJxm4"></iframe>
                    </div>
                  <div class="caption">
                    <p>हेमपुष्पा के फायदे । hempushpa syrup ' benifits | महिलाओ के लिए खास ।By All Medicine Enquiry</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a1zvHLOxmA4"></iframe>
                    </div>
                  <div class="caption">
                    <p>MORR 5% SOLUTION & HAIRBLESS TABLET / review in hindi /How to Stop Hair Fall in a week / बाल झड़ना</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o2DMtmzUUJI"></iframe>
                    </div>
                  <div class="caption">
                    <p>How to use Betnovate C skin cream | | Reviews , Uses , Benefits & Side effect| गोरा बनाने वाली क्रीम
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rJe2LBGXtl0"></iframe>
                  </div>
                  <div class="caption">
                    <p>DISULFIRAM tablet 250 mg / 500 mg,Uses,dosage,side effects/शराब कैसे छोड़े/</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PUyx3xtia-o"></iframe>
                  </div>
                  <div class="caption">
                    <p>Practin Tablet | मोटे होने की सबसे असरदार दवाई ?अब छोड़ने के बाद भी पतले नही होंगे/भूख बढ़ाने की दवाई</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZEDrhJL1lvw"></iframe>
                    </div>
                  <div class="caption">
                    <p>vitamin E का कैप्सूल को बालो में कैसे लगाए । VITAMIN E Capsule For HAIR GROWTH , SKIN AND HEALTH .
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MvEOqZ5YCz4"></iframe>
                    </div>
                  <div class="caption">
                    <p>KARPIN LOTION - Full Review IN HINDI / White Spot Skin / Remove White Spot From your Skin using
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GjmDalFPT3k"></iframe>
                    </div>
                  <div class="caption">
                    <p>Smuth cream / How to apply Smuth cream / Smuth Cream review in Hindi हर तरह का बवासीर की अचूक दवा
</p>
                  </div>
               </div>
            </div>
   

<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="{% url 'information:page1'%}">1</a>
  <a href="{% url 'information:page2'%}">2</a>
  <a href="{% url 'information:page3'%}">3</a>
  <a href="{% url 'information:page4'%}">4</a>
  <a href="{% url 'information:page5'%}">5</a>
  <a href="{% url 'information:page6'%}">6</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}