<!DOCTYPE html>
{% extends "header.html"%}
{% block body_block %}
<div class="orange lighten-3 z-depth-2">
        <h4 class="align-center" id="about">
          MY VIDEOS
        </h4>
        <br>
        <p class="description">
      Check out my videos here, and do visit my youtube channel for latest updates.</p>
      <p class="description">Whatsapp me on +91-8789416368 and share your problem, feel free to ask any questions, your query will be confidential. </p>
      </div>
      <br>
      <br>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GbplnOFGq1M"></iframe>
                    </div>
                  <div class="caption">
                    <p>पुरानी से पुरानी तम्बाकू व गुटखे की लत सिर्फ 2 दिन में छुड़ाने का आजमाया हुआ उपाय / To Quit Tobacco

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/usJizrqXbko"></iframe>
                  </div>
                  <div class="caption">
                    <p>चमकी बुखार क्या है?जाने इसके कारण लछण और उपाय


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0dwpBpwDSlE"></iframe>
                  </div>
                  <div class="caption">
                    <p>मछली से भी 50 गुना ज्यादा ताकतवर है।ये दाने। विज्ञान भी हैरान है फायदे जान कर


</p>
                  </div>
               </div>
            </div>
 
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OOmcoz3alLQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>उबली हुई#चायपत्ती बचा सकती है आपके हजारो रुपये ।जान ले ये जरूरी बातें ,नही तो पछताएंगे


 </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zx4DUCyQOkM"></iframe>
                    </div>
                  <div class="caption">
                    <p>इन 3 तेलो को मिलाकर लगाइये। 7 दिन में ही आपके बाल लंबे काले और घने हो जायँगे

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oh_Hfc1ID8w"></iframe>
                    </div>
                  <div class="caption">
                    <p>कोल्डड्रिंक पीने से शरीर में होते है 5 बड़े नुकसान जानकर होश उड़ जाएंगे आपके।all medicine


</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WujIqC7YlRg"></iframe>
                    </div>
                  <div class="caption">
                    <p>
        अगर आपको अपने शरीर मे ।ये लछण दिखाई दी तो।जान ले कि आप मे टेस्टोस्टेरोन की कमी है।



                    </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VBFhEit5hTg"></iframe>
                  </div>
                  <div class="caption">
                    <p>
                    जोड़ो के दर्द ,घुटनो के दर्द, कमर दर्द से छुटकारा पाए सिर्फ 3 दिन में


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NeHG1acdBQE"></iframe>
                  </div>
                  <div class="caption">
                    <p>

रोज सुबह बासी मुँह इसे पी ले चेहरे की चमक बढ़ जायेगी 100 गुना और बुढापा रहेगा दूर


</p>
                  </div>
               </div>
            </div>
  
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t8WuTI5jNNc"></iframe>
                    </div>
                  <div class="caption">
                    <p>
सिर्फ ये एक चीज़ । ब्रश करते समय ब्रश पर लगा ले ।दांत मोती जैसे चमकदार हो जाएंगे।

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZxiS0FWavfY"></iframe>
                    </div>
                  <div class="caption">
                    <p>
मांस से 100 गुना ताकतवर है ये सब्जी ।| फायदे जानकर आज से शूरु कर देंगे खाना || All Medicine Enquiry

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oZooXoAGrG0"></iframe>
                    </div>
                  <div class="caption">
                    <p>आखोँ से पानी आना। धुंधलापन,और आखोँ की कमजोरी दुर कर देगी।ये चीजें


</p>
                  </div>
               </div>
            </div>
    
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fgtOa_7qUpQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>
#पेट_नहीं_निकलेगा_बाहर #न_ही बढेगा_वजन #बस_करने_होंगे_ये_काम

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j22ob_GRTEY"></iframe>
                  </div>
                  <div class="caption">
                    <p># मात्र एक फल करेगा 40 बीमारियों का इलाज।बस सावधानी से करे इस्तेमाल


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D_zQmsLLc00"></iframe>
                  </div>
                  <div class="caption">
                    <p>
# अगर आप 1 घंटे ईयर फोन इस्तेमाल करते हैं तो । सावधान हो जाइए।

</p>
                  </div>
               </div>
            </div>
    
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DTNVcbTd9YQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>#किडनी में पथरी कैसे होती है।#यह है वह एक कारण।#जिसकी वजह से पथरी बनती है।



</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2B1l3IBMwgA"></iframe>
                    </div>
                  <div class="caption">
                    <p># हर 24 दिनो में किडनी को साफ करना जरुरी है। जानिए किडनी को साफ करने का आसान तरिका।



</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6gDsdXJ9zcA"></iframe>
                    </div>
                  <div class="caption">
                    <p># क्या रात को सोते समय।अपने आप निकल जाता है।तो एक बार जरूर देखें.by all medicine enquiry</p>
                  </div>
               </div>
            </div>
      


<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="{% url 'information:page1'%}">1</a>
  <a href="{% url 'information:page2'%}">2</a>
  <a href="{% url 'information:page3'%}">3</a>
  <a href="{% url 'information:page4'%}">4</a>
  <a href="{% url 'information:page5'%}">5</a>
  <a href="{% url 'information:page6'%}">6</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}