<!DOCTYPE html>
{% extends "header.html"%}
{% block body_block %}
<div class="orange lighten-3 z-depth-2">
        <h4 class="align-center" id="about">
          MY VIDEOS
        </h4>
        <br>
        <p class="description">
      Check out my videos here, and do visit my youtube channel for latest updates.</p>
      <p class="description">Whatsapp me on +91-8789416368 and share your problem, feel free to ask any questions, your query will be confidential. </p>
      </div>
      <br>
      <br>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-EWy5RU1lzQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>आखिर क्या है Corona Virus का सच ? / What | Is Corona Virus // all medicine enquiry</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IVupIRIjvCo"></iframe>
                  </div>
                  <div class="caption">
                    <p>Becadexamin Multivitamin Capsule | | Uses . Side Effects & How to Take Full Review in Hindi</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXnJV7VdvZE"></iframe>
                  </div>
                  <div class="caption">
                    <p>Liv . 52 Syrup - सेहत बनाये , भूक बढाये , पिचके । गालो को भरे , कमज़ोर नसों में लाभकारी // New Hindi</p>
                  </div>
               </div>
            </div>
     
  
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DaMoUE3QggQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>K-MAC SYRUP REVIEW IN HINDI // पेशाब का बार बार आना , रुक रुक कर आना और पेशाब में जलन का इलाज .
                    </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgdpeVyvi0o"></iframe>
                    </div>
                  <div class="caption">
                    <p>SAK Kit Tablet ( 90 दिन के Pregnancy को गिराने का सबसे अच्छा और सुरक्षित दवा ) Review in Hindi</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zy37bB6zX3M"></iframe>
                    </div>
                  <div class="caption">
                    <p>TEDAGRA-D 20 mg tablet review in hindi // tadalafil depoxetine 20 mg कैसे उपयोग करे in hindi</p>
                  </div>
               </div>
            </div>
     


            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-CA5AELaCiw"></iframe>
                    </div>
                  <div class="caption">
                    <p>Makar Sankranti New Status 2020 | | मकर संक्रांति न्यू स्टेटस 2020 / / New Sankranti WhatsApp Status</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xZ4GGRNYGPg"></iframe>
                  </div>
                  <div class="caption">
                    <p>DENTA SSURE PASTE FULL REVIEW IN HINDI // पायरिया जड़ से ठीक करने का घरेलु उपाय</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Hx7h06F8NM0"></iframe>
                  </div>
                  <div class="caption">
                    <p>Primosa Capsules 1000 mg review मिनटों में सुंदर , बेदाग व निखरा चेहरा पाने के लिए evening oil cap</p>
                  </div>
               </div>
            </div>
       

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vynTZ8CJEIQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>Surfaz sn cream | फायदे और नुकसान । ninwa kaise thik kare // जलन , खुजली और Vaginal fungal infection </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TB_1EPK_f7g"></iframe>
                    </div>
                  <div class="caption">
                    <p>सांडे का तेल क्या होता है ,कहां से आता है और इसके क्या फ़ायदे हैं ? // सांडा का तेल जो लंबा कर देता</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ccYfdGEbAAI"></iframe>
                    </div>
                  <div class="caption">
                    <p>V Wash Plus How to Usel , Uses , Side Effects | Intimate wash Review in Hindi</p>
                  </div>
               </div>
            </div>
  
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S8pJTJvU0_k"></iframe>
                    </div>
                  <div class="caption">
                    <p>Mifegest kit Tablet ( 64 दिन के Pregnancy को गिराने का सबसे अच्छा और सुरक्षित दवा ) Review in Hindi</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w6XKPT2Ts4Q"></iframe>
                  </div>
                  <div class="caption">
                    <p>Himalaya mentat syrup & Tablet benefits , use , Dose , and price in Hindi, दिमाग को तेज कैसे बनायें</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sv_rKcOxMtI"></iframe>
                  </div>
                  <div class="caption">
                    <p>#Himalaya #Mentat के फायदे | Ueful for all | mental disorders/ Himalaya mentat syrup benefits , use</p>
                  </div>
               </div>
            </div>
  
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8My5c6xUTgk"></iframe>
                    </div>
                  <div class="caption">
                    <p>SioTone Capsule full product Review in hindi // How to Increase Sex Time & Power Naturally | मर्दाना </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kxMhor0DqoM"></iframe>
                    </div>
                  <div class="caption">
                    <p>Glomela cream full review in hindi // Hydroquinon cream side effects in hindi.malalite fort cream</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vONoqSlN1sQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>DIAPER SAFE FULL REVIEW IN HINDI | | How To Treat Baby Diaper Rash//Diaper Rash Cream Uses</p>
                  </div>
               </div>
            </div>
      

<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="{% url 'information:page1'%}">1</a>
  <a href="{% url 'information:page2'%}">2</a>
  <a href="{% url 'information:page3'%}">3</a>
  <a href="{% url 'information:page4'%}">4</a>
  <a href="{% url 'information:page5'%}">5</a>
  <a href="{% url 'information:page6'%}">6</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}