<!DOCTYPE html>
{% extends "header.html"%}
{% block body_block %}
<div class="orange lighten-3 z-depth-2">
        <h4 class="align-center" id="about">
          MY VIDEOS
        </h4>
        <br>
        <p class="description">
      Check out my videos here, and do visit my youtube channel for latest updates.</p>
      <p class="description">Whatsapp me on +91-8789416368 and share your problem, feel free to ask any questions, your query will be confidential. </p>
      </div>
      <br>
      <br>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bIxqeJ3Q4Pw"></iframe>
                    </div>
                  <div class="caption">
                    <p>Arsh kalp /VAIDRISHI ARSH KALP बैद्यरिशी अर्श कल्प कैप्सूल बवासीर की दवा | piles treatment/
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2Y37TiTBJrE"></iframe>
                  </div>
                  <div class="caption">
                    <p>नाक से खून बहना ( नकसीर ) की समस्या से तुरंत छुटकारा पाने का घरेलु उपाय | Home Remedy For Nose Bleed

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qw6iCMKowXo"></iframe>
                  </div>
                  <div class="caption">
                    <p>हरे मिर्च की 3 ऐसी उपाए जो आपकी जिंदगी बदल दे | BY All Medicine Enquiry

</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ViMd4T7e_q4"></iframe>
                    </div>
                  <div class="caption">
                    <p>How to Remove Head Lice Eggs . ( हेड जूं अंडे कैसे निकालें )/By All Medicine Enquiry

 </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4PWjg52BihQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>कुत्ता काटने का असरदार इलाज /By All medicine Enquiry
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8fFRPwGf_q0"></iframe>
                    </div>
                  <div class="caption">
                    <p>New Mederma Advanced Scar Gel Review- Use,benefits&side effects of Mederma/BY All Medicine Enquiry

</p>
                  </div>
               </div>
            </div>
     
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K0exQu0e5Oo"></iframe>
                    </div>
                  <div class="caption">
                    <p>
                Chhath Pooja | Dehri on Sone / 2019 / By all Medicine enquiry


                    </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NCOKFXrnI7o"></iframe>
                  </div>
                  <div class="caption">
                    <p>Mederma Gel full review with my experience/ Scars /Stretch Marks treatment/by all medicine enquiry

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qM083GSptqQ"></iframe>
                  </div>
                  <div class="caption">
                    <p>Handsome kaise bane tips | काले लड़के हैंडसम कैसे बने | handsome Kaise bane | how to be handsome


</p>
                  </div>
               </div>
            </div>
 
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t-ezv2s-2Jo"></iframe>
                    </div>
                  <div class="caption">
                    <p>Monsoon 2019: Nepal Directing Flood Water Towards Kosi River, Flood Danger Hovers Over Bihar

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5kndpp80kWg"></iframe>
                    </div>
                  <div class="caption">
                    <p>7 DAYS BALDNESS TREATMENT | APPLY TO HAIR & GET SCALP FULL OF HAIR ALL MEDICINE ENQUIRY

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bc1NSAUVra0"></iframe>
                    </div>
                  <div class="caption">
                    <p>(Hindi) : Benefits Of Noni Juice : How To Have Noni Juice : Shilpa Shetty Noni Juice

</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qwG4k54gfb8"></iframe>
                    </div>
                  <div class="caption">
                    <p>Himalaya Spamen Tablet - Uses,benefits and side effects/Detail review in Hindi by Allmedicineenquiry


</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3m8VbKembIU"></iframe>
                  </div>
                  <div class="caption">
                    <p>Vestige Glucosamine Review InTablets Benefits & Hindi | Joints Pain |vestige Glucosamine

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7c29wNWQbYM"></iframe>
                  </div>
                  <div class="caption">
                    <p>Gokul Dham | Prem Mandir | Mathura Vrindavan Brijdham Darshan Vlog | Camera Not Allowed,Secret Video

</p>
                  </div>
               </div>
            </div>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Srpu-k31_uU"></iframe>
                    </div>
                  <div class="caption">
                    <p>( विगरा स्प्रे) ke Fayde vs side Effects Full Product Review in Hindi। all medicine</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZGIsEzskrSo"></iframe>
                    </div>
                  <div class="caption">
                    <p>#JAPANIFCAPSULबस एक कैप्सूल खिलाओ।वो आपको रात भर खिलाएगी ।all medicine enquiry।japani f use</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZSBWryl5alA"></iframe>
                    </div>
                  <div class="caption">
                    <p>बाबा राम देव के 5 अचूक नुस्खे।जो आपको 100 साल तक स्वस्थ जीवन जीने में मदद करेगा।</p>
                  </div>
               </div>
            </div>
 

<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="{% url 'information:page1'%}">1</a>
  <a href="{% url 'information:page2'%}">2</a>
  <a href="{% url 'information:page3'%}">3</a>
  <a href="{% url 'information:page4'%}">4</a>
  <a href="{% url 'information:page5'%}">5</a>
  <a href="{% url 'information:page6'%}">6</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}