<!DOCTYPE html>
{% extends "header.html"%}
{% block body_block %}
<div class="orange lighten-3 z-depth-2">
        <h4 class="align-center" id="about">
          MY VIDEOS
        </h4>
        <br>
        <p class="description">
      Check out my videos here, and do visit my youtube channel for latest updates.</p>
      <p class="description">Whatsapp me on +91-8789416368 and share your problem, feel free to ask any questions, your query will be confidential. </p>
      </div>
      <br>
      <br>

            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yaaBeXxjusE"></iframe>
                    </div>
                  <div class="caption">
                    <p>HH MITE CREAM & SOAP FULL REVIEW IN HINDI/How to cure ringworm itching/daad khaj khujli ke upay</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mv6ZNn8qqfU"></iframe>
                  </div>
                  <div class="caption">
                    <p>Digital weighing Machine Calibration In Hindi | | Weighing Machine Calibration Repair |
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HkyQLss4RVg"></iframe>
                  </div>
                  <div class="caption">
                    <p>EVION VITAMIN E CAPSULE '-Uses,Effects,Side -Effects/Evion 400 &600Vitamin E Capsules for Skin White
</p>
                  </div>
               </div>
            </div>
 
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kuByP4YcNjw"></iframe>
                    </div>
                  <div class="caption">
                    <p>Clear Win Cream Review In Hindi/Pimples Removal Cream/Uses/Benefits&Side Effects/मुहांसो,दानों
 </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KgdpeVyvi0o"></iframe>
                    </div>
                  <div class="caption">
                    <p>SAK Kit Tablet ( 90 दिन के Pregnancy को गिराने का सबसे अच्छा और सुरक्षित दवा ) Review in Hindi</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a2XBAn4mhI0"></iframe>
                    </div>
                  <div class="caption">
                    <p>Baidyanath Sundari kalp- Women ' s Health Tonic :/,BY ALL MEDICINE ENQUIRY
</p>
                  </div>
               </div>
            </div>
 
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5o7ceq5RaCo"></iframe>
                    </div>
                  <div class="caption">
                    <p>
                   जिनका खड़ा नहीं होता पत्थर बन जायेगा 2 गोलियां// virilex tablet,/&Evion 600 mg review

                    </p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WV0jKnMNSdY"></iframe>
                  </div>
                  <div class="caption">
                    <p>Sucral cream/पुराने से पुराने जले कटे काले निशान को दूर करे/jale hue daag ke nishan kaise mitaye,

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ua0n__fx2co"></iframe>
                  </div>
                  <div class="caption">
                    <p>गौमूत्र पीने के फायदे और नुकसान:पेट साफ़ करने और कब्ज को जड़ से ख़त्म करने का अचूक इलाज|Swami Ramdev

</p>
                  </div>
               </div>
            </div>
   
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/njzEe8y7Vlc"></iframe>
                    </div>
                  <div class="caption">
                    <p>Threptin Protein Biscuits Review in Hindi/Usu Benefits &side effects/By All medicine Enquiry
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J7WcWKpkmaQ"></iframe>
                    </div>
                  <div class="caption">
                    <p>पिम्पल्स को जड़ से खत्म करने के घरेलू उपाय|pimples removal on face at home/pimples kaise hataye
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/weABSOAgfNg"></iframe>
                    </div>
                  <div class="caption">
                    <p>सफेद दाग को गायब कीजिए सिर्फ 10 दिनों में |Safed Daag ka Ilaj / Home treatment/how to use melanocyl
</p>
                  </div>
               </div>
            </div>
   
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HJr51ln1GSM"></iframe>
                    </div>
                  <div class="caption">
                    <p>दाद खाज खुजली कितनी भी भयंकर से भयंकर हो 1 दिन में छुट्टी कर देगा / Fungal infection treatment

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OXfFKh4eyg8"></iframe>
                  </div>
                  <div class="caption">
                    <p>Pregnancy test at home in Hindi | How to check pregnancy Kit | Prega news/by all medicine enquiry/
</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/38Pj5ODZ99k"></iframe>
                  </div>
                  <div class="caption">
                    <p>Ketomac Dandruff Treatment Shampoo |review In hindi केटोमक शैम्पू रूसी के लिए शैम्पू/BY ALL MEDICINE
</p>
                  </div>
               </div>
            </div>
          </div>
     
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5SVkfalYoEw"></iframe>
                    </div>
                  <div class="caption">
                    <p>GREENMAX CAPSUL /पिचके गालो को गोल मटोल सुंदर बनाये | Beautiful Skin | Skincare Routine |

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G8k-wU30mbo"></iframe>
                    </div>
                  <div class="caption">
                    <p>Paurush Jiwan Capsules | मोटे होने के लिए पौरुष जीवन कैप्सूल | शक्तिवर्धक कैप्सूल | BY All Medicine

</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="thumbnail">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9kJE-6k-JeM"></iframe>
                    </div>
                  <div class="caption">
                    <p>How to use western Toilet/ English Toilet/ Mobile Toilet 2019 in Hindi and urdu/by all medicine

</p>
                  </div>
               </div>
            </div>
     


<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="{% url 'information:page1'%}">1</a>
  <a href="{% url 'information:page2'%}">2</a>
  <a href="{% url 'information:page3'%}">3</a>
  <a href="{% url 'information:page4'%}">4</a>
  <a href="{% url 'information:page5'%}">5</a>
  <a href="{% url 'information:page6'%}">6</a>
  <a href="#">&raquo;</a>
</div>

{% endblock %}